* {
  box-sizing: inherit;
  margin: 0;
}

h1 {
  text-align: center;
}

.all-ships {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
}

.ship-container {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5%;
  margin: 5px;
  height: 150px;
  width: 270px;
  color: gold;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.ship-container:hover {
  background-color: black;
  font-size: 30px;
}


#link {
  text-decoration: none;
}



