* {
  box-sizing: inherit;
  margin: 0;
}

h1 {
  text-align: center;
}

.all-ships {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
}

.ship-container {
  background-color: rgb(56, 56, 156);
  border-radius: 5%;
  margin: 5px;
  height: 150px;
  width: 270px;
  border: 1px solid black;
}

#link {
  text-decoration: none;
}


h2 {
  
  color: aliceblue;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
